@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: calc(1400px - 83px);
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

@media screen and (max-width: 768px) {
	.swiper-slide {
		width: 100% !important;
	}
}

@media screen and (max-width: 768px) {
	.mySwiper {
		height: 750px !important;
	}
}

@media screen and (max-width: 480px) {
	.mySwiper {
		height: 580px !important;
	}
}

@media screen and (max-width: 580px) {
	.mySwiper {
		height: 680px !important;
	}
}

.category-subtitle {
	display: -webkit-box;
	-webkit-line-clamp: 4; /* 4 qatorni ko'rsatish */
	-webkit-box-orient: vertical;
	overflow: hidden;
}
